# Dependencies
node_modules
.pnp
.pnp.js

# Environment files
.env
.env.*
.env.local
.env.*.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

.env
.env.**
.env.production
*.log

.vscode